.App {
  text-align: center;
}

/* Cards and card grid styling: */
.box {
  margin: 20px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(20% - 10px);
}

.grids {
  max-width: 85%;
  margin: auto;
}

.controlGroup {
  display: flex;
  flex-direction: row;
}

.searchbox {
  margin: 25px;
}

.buttons {
  margin: 15px;
  width: 200px;
  height: 100px;
}

.App-header {
  background-color: #0D6EFD;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 7vh;
}